/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	position: relative;
	left: 0;
	display: inline-block;
	padding: var(--Small) var(--Large);
	margin: var(--Medium) 24px var(--Medium) 0;
	font-family: paralucent, sans-serif;
	font-weight: 500;
	color: var(--White);
	text-decoration: none;
	cursor: pointer;
	background-image: linear-gradient(45deg, var(--Orange) 0%, var(--Orange) 35%, var(--Red) 65%, var(--Red) 100%);
	background-position: 0 50%;
	background-size: 150% 100%;
	border: none;
	border-radius: 5px;
	transition: all 0.15s linear;

	&:hover,
	&:focus {
		left: var(--Small);
		background-position: 100% 50%;
	}

	&.is-blue {
		background-image: linear-gradient(45deg, var(--Blue) 0%, var(--Blue) 35%, var(--BlueLight) 65%, var(--BlueLight) 100%);
	}

	&.is-underlined-orange,
	&.is-underlined-blue {
		padding: 0;
		font-family: usual, sans-serif;
		font-weight: 400;
		line-height: 2.5;
		color: var(--GreyDark);
		text-align: left;
		background-image: none;
		background-color: transparent;

		&::after {
			bottom: 0;
			left: 0;
			display: block;
			width: 50%;
			height: 5px;
			content: '';
			background-image: linear-gradient(90deg, var(--Red), var(--Orange));
			transition: all 0.15s linear;
		}

		&:hover,
		&:focus {
			left: 0;
			color: var(--BlackDark);

			&::after {
				width: calc(100% + var(--Medium));
			}
		}
	}

	&.is-underlined-blue {
		&::after {
			background-image: linear-gradient(90deg, var(--Blue), var(--BlueLight));
		}
	}
}