/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
  padding: 0 0 0 var(--Large);
  margin: var(--Medium) 0;

  & li {
    position: relative;
    margin: var(--Medium) 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

ul li {
  list-style: none;

  &::before {
    position: absolute;
    top: 12px;
    left: -24px;
    display: block;
    width: 10px;
    height: 3px;
    content: "";
    background-color: var(--BlueLight);
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-3-columns {
  column-count: 1;

  @media(--phone) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 3;

    & li {
      padding-right: 1em;
    }
  }
}

&.has-4-columns {
  column-count: 1;

  @media(--phone) {
    column-count: 2;

    & li {
      padding-right: 1em;
    }
  }

  @media(--tablet) {
    max-width: 1024px;
    margin: 4em auto;
    column-count: 4;
  }
}
