/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4e8f1c/00000000000000000001771b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 400;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/393a58/00000000000000000001771d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 600;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/8d84f0/00000000000000000001771f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 300;
}

@font-face {
font-family:"usual";
src:url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/625a3c/000000000000000000017724/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 700;
}

@font-face {
font-family:"paralucent";
src:url("https://use.typekit.net/af/dfe88a/00000000000000003b9b40ac/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/dfe88a/00000000000000003b9b40ac/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/dfe88a/00000000000000003b9b40ac/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 500;
}

@font-face {
font-family:"paralucent";
src:url("https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/fe099e/00000000000000003b9b40a5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 600;
}

@font-face {
font-family:"paralucent";
src:url("https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8ad6f2/00000000000000003b9b40aa/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display: swap;
font-style: normal;
font-weight: 400;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5rem;
	margin-bottom: 0.75rem;
	font-family: paralucent, sans-serif;
	font-weight: 600;
	line-height: 1.1;
	color: var(--Black);
}

h1,
.h1 {
	font-size: 36px;

	@media(--phone) {
		font-size: 48px;
	}
}

h2,
.h2 {
	font-size: 36px;
	margin-top: 4rem;

	@media(--phone) {
		font-size: 40px;
	}
}

h3,
.h3 {
	font-size: 30px;
	margin-top: 3rem;
}

h4,
.h4 {
	font-size: 24px;
}

h5,
.h5,
h6,
.h6 {
	font-size: 16px;
	font-weight: 500;
	color: var(--GreyDark);
}

/*-----------------------------------*\
	PARAGRAPHS
\*-----------------------------------*/
b,
strong {
	font-weight: 600;
}

p.small {
	font-size: 14px;
	color: var(--GreyDark);
}

/*-----------------------------------*\
	LINKS
\*-----------------------------------*/
a:not(.button) {
	font-weight: 500;
	color: var(--Orange);
	transition: 0.15s all linear;

	&:focus,
	&:hover {
		text-decoration: none;
		color: var(--Blue);
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	width: 200px;
	height: 5px;
	margin: var(--xLarge) auto;
	background-image: linear-gradient(to right, var(--Red), var(--Orange));
	border: 0;
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	padding: 0 var(--Large);
	margin: var(--Large) auto;
	font-size: 1.25em;
	color: var(--GreyDark);
	border-left-style: solid;
	border-left-width: 5px;
	border-right-width: 0;
	border-image: linear-gradient(to bottom, var(--Orange), var(--Red)) 1 100%;
	width: 80%;

	&>*:first-child {
		margin-top: 0;
		margin-bottom: 0;
	}

	&>*:nth-child(2) {
		margin-bottom: 0;
		font-size: 14px;
	}

	& p {
		font-size: 24px;
		font-weight: 300;
	}
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}