/*-----------------------------------*\
	NEW PROJECT CTA
\*-----------------------------------*/
section.new-project {
	background-color: var(--WhiteDark);
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

	& .before {
		position: absolute;
		top: -100%;
		left: -40%;
		width: 516px;
		height: 496px;
		background-image: url(../images/E5-BlueBlob.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: -1;

		@media(--tablet) {
			top: -90%;
			left: 5%;
		}
	}

	& .after {
		position: absolute;
		bottom: -70%;
		right: -40%;
		width: 560px;
		height: 473px;
		background-image: url(../images/E5-OrangeBlob.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		z-index: -1;

		@media(--tablet) {
			bottom: -50%;
			right: 10%;
		}
	}

	& .standard {
		max-width: 900px;
		z-index: 2;

		& h2 {
			max-width: 450px;
			font-size: 48px;
			margin: 0;

			& span {
				position: relative;
			}
		}

		& p {
			max-width: 450px;
			color: var(--BlackDark);
			font-weight: 400;
		}
	}
}

/* &:hover,
&:focus {
	& section.new-project {
		&:before {
			top: -115%;
			left: -5%;
			transform: rotate(-20deg);
		}

		&:after {
			bottom: -100%;
			right: 0;
			transform: rotate(-40deg);
		}

		& .standard {
			& h2 {
				& span {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
}

&:focus {
	& h2 {
		& span {
			outline: 1px solid rgba(81, 203, 238, 1);
			box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		}
	}
} */