/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	margin-top: 190px;
	max-width: 800px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-left: 1rem;
	padding-right: 1rem;

	&.is-narrow {
		max-width: 450px;
	}

	&.show-blobs {
		position: relative;

		& .blob {
			display: none;
			position: absolute;
			top: 50%;
			right: 640px;
			width: 516px;
			height: 496px;
			background-image: url(../images/E5-BlueBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--laptop) {
				display: block;
			}
		}

		& .blob-2 {
			display: none;
			position: absolute;
			top: 160%;
			right: -740px;
			width: 560px;
			height: 473px;
			background-image: url(../images/E5-OrangeBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--laptop) {
				display: block;
			}
		}
	}

	& h1 {
		margin: 0;
	}

	& p {
		color: var(--GreyDark);
		font-size: 18px;
		width: 100%;

		@media(--phone) {
			font-size: 22px;
		}
	}

	& a.button {
		margin-top: 0;
	}
}