/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	padding: 3em 1.5em 2em;

	@media(--phone) {
		padding: 3em 1.5em 1.5em;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;

		&>div {
			width: 50%;
			margin-bottom: 3em;

			@media(--phone) {
				width: 25%;
			}

			@media(--tablet) {
				width: auto;
				min-width: 120px;

				&:nth-of-type(4) {
					min-width: initial;
				}
			}

			@media(--laptop) {
				min-width: 170px;
			}

			& h4 {
				margin: 0;
				font-size: 14px;
				font-family: usual, sans-serif;
			}

			& ul {
				padding: 0;

				& li {
					margin: 0 0 var(--Small);

					&:before {
						display: none;
					}

					& a {
						font-weight: inherit;
						color: var(--BlackDark);
						text-decoration: none;
						font-size: 14px;

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}

			&:last-of-type {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				@media(--tablet) {
					order: -1;
					width: auto;
					margin-right: auto;
				}

				& svg {
					width: 67px;
					height: 70px;
				}

				&>div {
					padding-left: 1.5em;

					& p {
						margin: 0;
						font-size: 14px;

						& a {
							font-weight: 300;
							color: var(--BlackDark);
							text-decoration: none;

							&:hover,
							&:focus {
								text-decoration: underline;
							}
						}
					}

					& .gform_wrapper {
						margin: var(--Medium) 0 0 0;
						padding: 0;

						& .gform_footer button {
							margin: 0;
						}
					}
				}
			}
		}
	}

	& .copyright {
		font-size: 12px;

		& p {
			margin: 0;

			& span {
				display: block;

				@media(--phone) {
					display: initial;
				}
			}

			& a {
				color: var(--GreyDark);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}