/*----------------------------------------------------------------*\
	SOCIAL SHARE
\*----------------------------------------------------------------*/
section.social-share {
	position: relative;

	@media(--laptop) {
		position: absolute;
		top: 0;
		left: calc(50% - 550px);
		height: 100%;
		max-width: 100px;
	}

	&>div {
		position: sticky;
		top: 2em;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.5;

		@media(--laptop) {
			flex-flow: column;
			max-width: 100px;
		}

		& p {
			color: var(--Grey);
			font-size: 14px;
			font-weight: 400;
			text-align: center;

			@media(--laptop) {
				width: 100%;
			}
		}

		& a {
			text-decoration: none;
			margin: .5rem;

			@media(--laptop) {
				margin: .5rem 0;
			}

			&:hover,
			&:focus {
				& svg {
					fill: var(--GreyDark);
				}
			}

			& svg {
				width: 20px;
				height: 20px;
				fill: var(--Grey);
			}
		}
	}
}