/*-----------------------------------*\
	WORK HEADER
\*-----------------------------------*/
header.work-head {
	max-width: 1200px;
	margin-top: 140px;
	margin-bottom: 0;

	@media(--tablet) {
		margin-top: 190px;
		margin-bottom: 8em;
	}

	& div.card {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&>div {
			max-width: 450px;
			order: 2;

			@media(--tablet) {
				order: 1;
			}

			& h3 {
				color: var(--GreyDark);
				font-size: 22px;
				font-family: usual,sans-serif;
				font-weight: 500;
				margin-top: 0;
			}

			& h1 {
				margin: .5rem 0;
			}
		}

		&>figure {
			width: 100%;
			margin: 0;
			order: 2;
			position: relative;
			margin-top: 2em;
			margin-bottom: 6em;

			@media(--tablet) {
				width: calc(100% - 450px - 2em);
				margin-top: 0;
				margin-bottom: 0;
			}

			& svg {
				position: absolute;
				top: -10em;
				left: -9em;
				width: 516px;
				height: 496px;
				transform: rotate(10deg);
				z-index: -1;
				display: none;

				@media(--laptop) {
					display: block;
				}
			}

			& img {
				box-shadow: 0 40px 50px 0 rgba(20,45,63,0.3);
				width: 100%;
			}
		}
	}
}