/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	counter-reset: number-counter;

	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: 110px 1em 2em;
		margin-bottom: var(--Medium);
		counter-increment: number-counter;

		&:before {
			position: absolute;
			top: 0;
			left: 1rem;
			color: var(--WhiteDark);
			content: '0'counter(number-counter);
			font-size: 96px;
			font-weight: bold;
			font-family: paralucent, sans-serif;
			line-height: 1;
		}

		&:nth-child(5n+1) {
			& hr {
				background-image: linear-gradient(135deg, var(--Orange) 0%, var(--Red) 100%);
			}
		}

		&:nth-child(5n+2) {
			& hr {
				background-image: linear-gradient(135deg, var(--BlueLight) 0%, var(--Blue) 100%);
			}
		}

		&:nth-child(5n+3) {
			& hr {
				background-image: linear-gradient(135deg, var(--Blue) 0%, var(--BlackDark) 100%);
			}
		}

		&:nth-child(5n+4) {
			& hr {
				background-image: linear-gradient(135deg, var(--Green) 0%, var(--BlackDark) 100%);
			}
		}

		&:nth-child(5n+5) {
			& hr {
				background-image: linear-gradient(135deg, var(--Red) 0%, var(--Blue) 100%);
			}
		}

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
			margin-bottom: 1.5rem;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& hr {
			margin: 0;
			width: 100%;
			background: linear-gradient(135deg, var(--Orange) 0%, var(--Red) 100%);
		}

		& h3 {
			position: relative;
		}

		& p {
			flex: 1 1 auto;
			margin-top: 1.5rem;
		}

		& a.button {
			margin: 0;
		}
	}

	&.top-cards .card {
		padding: var(--Medium);
		max-width: initial;

		&:before {
			display: none;
		}

		& figure {
			width: 100%;
			margin: 0 0 1em;

			& img {
				display: block;
				width: 100%;
				height: auto;
			}

			& hr {
				display: none;
			}
		}

		& h3 {
			margin-top: 0;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: var(--Large) auto;
	padding: 0;

	& .card {
		width: 100%;
		margin-right: 0;
	}

	@media(--phone) {

		&.has-2-columns .card,
		&.has-4-columns .card,
		&.has-6-columns .card,
		&.has-8-columns .card {
			width: calc((100% - 1em)/2);
		}

		&.has-5-columns .card,
		&.has-6-columns .card,
		&.has-7-columns .card {
			width: 33%;
			width: calc((100% - 2em)/3);
		}

		&.has-3-columns .card:nth-of-type(3n),
		&.has-4-columns .card:nth-of-type(2n),
		&.has-5-columns .card:nth-of-type(3n),
		&.has-6-columns .card:nth-of-type(3n),
		&.has-7-columns .card:nth-of-type(3n),
		&.has-8-columns .card:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	@media(--tablet) {
		&.has-3-columns .card {
			width: 33.33%;
		}

		&.has-4-columns .card {
			width: 25%;
			width: calc((100% - 3em)/4);
		}

		&.has-5-columns .card {
			width: 20%;
			width: calc((100% - 4em)/5);
		}

		&.has-6-columns .card {
			width: 16.6%;
			width: calc((100% - 5em)/6);
		}

		&.has-7-columns .card {
			width: 14.28%;
			width: calc((100% - 6em)/7);
		}

		&.has-8-columns .card {
			width: 12.5%;
			width: calc((100% - 7em)/8);
		}

		&.has-4-columns .card:nth-of-type(4n),
		&.has-5-columns .card:nth-of-type(5n),
		&.has-6-columns .card:nth-of-type(6n),
		&.has-7-columns .card:nth-of-type(7n),
		&.has-8-columns .card:nth-of-type(8n) {
			margin-right: 0;
		}
	}
}