/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	filter: blur(8px);
	transition: all 0.15s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);

	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--Large) auto;

	&.is-full-width,
	&.is-wide {
		padding-left: 0;
		padding-right: 0;

		@media(--tablet) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	&+.gallery {
		margin: -2rem auto 2rem auto;
	}

	&.overlay {
		& img {
			opacity: 0.5;
		}
	}

	& figure {
		min-height: 10px;
		margin: 0 0 1em 0;
		padding: 1em 0;
		display: flex;

		@media(--tablet) {
			padding: 1em;
		}

		& img {
			display: block;
			object-fit: contain;
			object-position: 50% 50%;
			width: 100%;
			height: 100%;
		}
	}

	&.has-1-columns figure,
	&.has-2-columns figure,
	&.has-3-columns figure,
	&.has-5-columns figure,
	&.has-7-columns figure {
		width: 100%;
	}

	&.has-4-columns figure,
	&.has-6-columns figure,
	&.has-8-columns figure {
		width: calc((100% - 1em)/2);
	}

	&.has-1-columns figure:nth-of-type(n),
	&.has-2-columns figure:nth-of-type(2n),
	&.has-3-columns figure:nth-of-type(n),
	&.has-4-columns figure:nth-of-type(n),
	&.has-5-columns figure:nth-of-type(2n),
	&.has-6-columns figure:nth-of-type(2n),
	&.has-7-columns figure:nth-of-type(n),
	&.has-8-columns figure:nth-of-type(2n) {
		margin-right: 0;
	}

	@media(--phone) {

		&.has-2-columns figure,
		&.has-3-columns figure {
			width: calc((100% - 1em)/2);
		}

		&.has-3-columns figure {
			padding: 2em;
		}

		&.has-3-columns figure,
		&.has-5-columns figure,
		&.has-6-columns figure,
		&.has-7-columns figure {
			width: 33%;
			width: calc((100% - 2em)/3);
		}

		&.has-4-columns figure,
		&.has-8-columns figure {
			width: 25%;
			width: calc((100% - 3em)/4);
		}

		&.has-3-columns figure:nth-of-type(3n),
		&.has-4-columns figure:nth-of-type(4n),
		&.has-5-columns figure:nth-of-type(3n),
		&.has-6-columns figure:nth-of-type(3n),
		&.has-7-columns figure:nth-of-type(3n),
		&.has-8-columns figure:nth-of-type(4n) {
			margin-right: 0;
		}
	}

	@media(--tablet) {
		&.has-5-columns figure {
			width: 20%;
			width: calc((100% - 4em)/5);
		}

		&.has-6-columns figure {
			width: 16.6%;
			width: calc((100% - 5em)/6);
		}

		&.has-7-columns figure {
			width: 14.28%;
			width: calc((100% - 6em)/7);
		}

		&.has-8-columns figure {
			width: 12.5%;
			width: calc((100% - 7em)/8);
		}

		&.has-5-columns figure:nth-of-type(5n),
		&.has-6-columns figure:nth-of-type(6n),
		&.has-7-columns figure:nth-of-type(7n),
		&.has-8-columns figure:nth-of-type(8n) {
			margin-right: 0;
		}
	}
}

/*-----------------------------------*\
	OFFSET
\*-----------------------------------*/
.gallery.has-2-columns.offset {
	&.flip {
		& figure {
			width: 100%;

			@media(--tablet) {
				width: 66.66%;
			}

			&:nth-child(4n+2),
			&:nth-child(4n+3) {
				width: 100%;

				@media(--tablet) {
					width: 33.33%;
				}
			}
		}
	}

	& figure {
		margin-bottom: 0;
		width: 100%;

		@media(--tablet) {
			width: 33.33%;
		}

		&:nth-child(4n+2),
		&:nth-child(4n+3) {
			width: 100%;

			@media(--tablet) {
				width: 66.66%;
			}
		}

		& img {
			object-fit: cover;
		}
	}
}