/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: var(--xLarge) auto;

	&.image-cover {
		align-items: initial;

		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>*:first-child {
			margin-top: 0;
		}

		&:last-child {
			padding-top: 2em;
		}

		& img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}

	@media(--tablet) {
		flex-wrap: nowrap;

		&>div {
			width: 45%;
			padding-left: 3em;

			&:first-child {
				width: 55%;
				padding-left: 0;
			}

			&:last-child {
				padding-top: 0;
			}
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
				padding-left: 0;
				padding-right: 3em;
			}
		}
	}
}