/*-----------------------------------*\
	POST GRID
\*-----------------------------------*/
section.post-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: var(--Large) auto;
	padding: 0;

	&>h3{
		width: 100%;
		padding: 0 1rem;
	}

	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: var(--Medium);
		padding: 1em;
		width: 100%;

		@media(--tablet) {
			width: 33.33%;
		}

		&:hover,
		&:focus {
			& figure {
				& img {
					transform: scale(1.1);
				}
			}

			& h4 {
				opacity: 1;
			}
		}

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			margin: 0;
			overflow: hidden;
			display: flex;

			& img {
				object-fit: cover;
				min-height: 270px;
				width: 100%;
				height: auto;
				height: intrinsic;
				transition: all 0.15s linear;
			}
		}

		& ul.post-categories {
			padding: 0;
			margin-bottom: 0;

			& li {
				margin: 0 1em 0 0;
				display: inline-block;

				&:before {
					display: none;
				}

				& a {
					color: var(--GreyDark);
					font-size: 12px;
					font-weight: 400;
					text-decoration: none;
					background-color: var(--WhiteDark);
					padding: 3px 10px;
					border-radius: 5px;
					position: relative;
					z-index: 3;

					&:hover,
					&:focus {
						color: var(--White);
						background-color: var(--GreyDark);
					}
				}
			}
		}

		& h3 {
			margin-top: .5rem;
			opacity: 0.7;
			font-size: 24px;
		}

		& h4 {
			margin-top: .5rem;
			opacity: 0.7;
		}

		& p {
			flex: 1 1 auto;
			margin: 0;
			font-size: 14px;
			font-weight: 500;
			color: var(--GreyDark);
		}

		&>a {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: 2;
		}
	}
}

section.post-grid.work-cards {
	& .card {
		&.coming-soon {
			&:hover,
			&:focus,
			&.focus {
				& figure {
					&:before {
						border-width: 0;
					}
				}
			}
		}

		&:hover,
		&:focus,
		&.focus {
			& figure {
				&:before {
					border-width: 60px 60px 0 0;
				}

				& img {
					transform: scale(1);
				}
			}

			& p.is-underlined-orange {
				color: var(--BlackDark);

				&:after {
					width: calc(100% + var(--Medium));
				}
			}
		}

		& h3 {
			opacity: 1;
		}

		& figure {
			position: relative;
			max-height: 500px;
			width: 100%;
			margin-bottom: .5rem;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				border-width: 0;
				border-style: solid;
				transition: border 0.15s;
				border-color: var(--WhiteDark) var(--White);
				z-index: 2;
			}

			& img {
				min-height: 500px;
			}
		}

		& p {
			font-size: 16px;
			color: var(--GreyDark);

			&.is-underlined-orange {
				position: relative;
				left: 0;
				display: inline-block;
				padding: 0;
				margin: var(--Medium) 24px var(--Medium) 0;
				font-family: usual, sans-serif;
				font-weight: 400;
				line-height: 2.5;
				color: var(--GreyDark);
				text-align: left;
				text-decoration: none;
				cursor: pointer;
				border: none;
				border-radius: 5px;
				transition: all 0.15s linear;

				&::after {
					bottom: 0;
					left: 0;
					display: block;
					width: 50%;
					height: 5px;
					content: '';
					background-image: linear-gradient(90deg, var(--Red), var(--Orange));
					transition: all 0.15s linear;
				}
			}
		}
	}
}

section.post-grid.service-cards {
	& .card {
		& h3 {
			margin-bottom: .5rem;
			opacity: 1;
		}

		& p {
			font-size: 16px;
			margin-bottom: .5rem;
		}

		&>a {
			position: relative;
			text-decoration: none;
			font-weight: 500;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&.button.is-underlined-orange {

				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
		}

		&.cta-card {
			flex-flow: wrap;
			align-content: center;

			& h3 {
				margin-top: 0;
			}

			& a {

				&:hover,
				&:focus {
					text-decoration: none;
					left: var(--Small);
				}
			}
		}
	}
}

section.post-grid.teammember-cards {
	margin: var(--Large) auto;
	padding: 0;

	&.leadership {
		& .is-callout {
			display: none;
		}
	}

	& .card {
		width: 50%;

		@media(--tablet) {
			width: 33.33%;
		}

		&.is-callout {
			align-items: center;
			align-content: center;
			flex-flow: inherit;
			width: 100%;

			@media(--tablet) {
				width: 33.33%;
			}

			&>div {
				width: 100%;
				padding: 1em;

				& h3 {
					margin: 1rem 0;
				}

				& h2 {
					margin-top: 1rem;
				}
			}
		}

		&:nth-child(5n+1) {
			& figure {
				&:after {
					background-color: var(--Blue);
				}
			}
		}

		&:nth-child(5n+2) {
			& figure {
				&:after {
					background-color: var(--Orange);
				}
			}
		}

		&:nth-child(5n+3) {
			& figure {
				&:after {
					background-color: var(--Red);
				}
			}
		}

		&:nth-child(5n+4) {
			& figure {
				&:after {
					background-color: var(--BlueLight);
				}
			}
		}

		&:nth-child(5n+5) {
			& figure {
				&:after {
					background-color: var(--Green);
				}
			}
		}

		&:hover,
		&:focus {
			& figure {
				&:before {
					border-width: 60px 60px 0 0;
				}

				&:after {
					opacity: .65;
			}

				& img {
					transform: none;
				}
			}
		}

		& figure {
			position: relative;
			min-height: 270px;
			width: 100%;
			display: flex;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				border-width: 0;
				border-style: solid;
				transition: border 0.15s;
				border-color: var(--WhiteDark) var(--White);
				z-index: 3;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: var(--Blue);
				transition: all 0.15s;
				opacity: 0;
				z-index: 2;
			}
		}

		& h4 {
			margin: 1rem 0;
		}
	}
}