/*-------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/

footer {
	padding: 4vh 6vw 2vh;
	background: var(--DBlue);
	position: relative;
	z-index: 88888;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	@media (--1250vp) {
		padding: 4vh 6vw 10vh;
	}

	@media (--768vp) {
		justify-content: center;
	}

	& .footer-brand {
		position: absolute;

		@media (--768vp) {
			width: 100%;
			order: 1;
			text-align: center;
		}

		a {
			color: var(--White);
			text-decoration: none;
			margin: 2vh 0;

			&:hover,
			&:focus {
				color: var(--Blue);
			}

			svg {
				width: 66px;
			}
		}
	}

	& .footer-contact {
		width: 25%;
		padding-top: 16vh;
		margin-bottom: 4vh;

		@media (--1024vp) {
			width: 50%;
		}

		@media (--768vp) {
			order: 4;
			width: 100%;
			text-align: center;
			padding-top: 0;
		}

		a {
			color: var(--White);
			text-decoration: none;
			margin: 2vh 0;

			&:hover,
			&:focus {
				color: var(--Blue);
			}

			&.btn {
				margin: 2vh 0 10vh;
				background: var(--Blue);
				border: .125rem solid var(--Blue);
				border-radius: 24px;
				width: fit-content;

				&:hover,
				&:focus {
					background-color: color(var(--Blue) shade(10%));
					border-color: color(var(--Blue) shade(10%));
					color: var(--White);
				}
			}
		}

		p {
			color: var(--White);
			margin: 4vh 0;

			span {
				display: block;
				font-weight: bold;
			}
		}
	}

	& .footer-menu-wrap {
		width: 40%;

		@media (--1024vp) {
			width: 50%;
		}

		@media (--768vp) {
			width: 100%;
			order: 3;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			list-style-type: none;
			margin: 4vh 2vw;

			@media (--768vp) {
				padding-left: 0;
				text-align: center;
				display: flex;
				justify-content: flex-start;
				margin: 0 2vw 4vh;
			}

			li {
				width: 50%;

				@media (--768vp) {
					width: 35%;
				}

				@media (--515vp) {
					width: 50%;
				}

				a {
					color: var(--White);
					text-decoration: none;
					font-size: 18px;
					font-weight: 700;
					line-height: 56px;

					&:hover,
					&:focus {
						color: var(--Blue);
					}
				}

				img {
					display: none;
				}

				&:last-of-type {
					& a {
						position: relative;
					}
				}
			}
		}
	}
}

.menu-newsletter-contain {
	width: 35%;
	margin: 4vh 0;

	@media (--1024vp) {
		display: none;
	}

	h5 {
		color: var(--White);
	}

	p {
		color: var(--White);
		font-size: 14px;
	}

	.menu-newsletter {
		& input {
			background-color: var(--FormGrey);
			border-color: var(--FormGrey);
			color: #8198a7;
			margin-top: 0 !important;

			&::placeholder {
				color: #8198a7;
			}
		}

		.gform_footer {
			margin: 0;
		}

		.btn {
			background: var(--Blue);
			border: .125rem solid var(--Blue);
			border-radius: 24px;

			&:hover,
			&:focus {
				background-color: color(var(--Blue) shade(10%));
				border-color: color(var(--Blue) shade(10%));
			}
		}
	}
}

& hr {
	margin: 3vh 0;
	height: 1px;
	background-color: #979797;
	position: absolute;
	width: 100vw;
	bottom: 80px;
	left: 0;

	@media (--1250vp) {
		bottom: 140px;
	}

	@media (--768vp) {
		order: 5;
		bottom: 100px;
	}
}

& .policies-contain {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		color: var(--White-Copy);
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
	}
}

& .copyright-contain {
	color: var(--White-Copy);

	p {
		font-size: 12px;
	}
}

.footer-social-wrap {
	@media (--768vp) {
		order: 2;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 16vh;
	}
}

.work-contain {
	/* display: flex; */
	display: none;

	@media (--768vp) {
		display: none;
	}

	.work-btn {
		border: 1px solid #979797;
		padding: 3vh 2vw 3vh 4vw;
		text-decoration: none;
		color: var(--White-Copy);
		position: relative;

		&:after {
			content: '';
			position: absolute;
			top: calc(50% - 14px);
			left: 0;
			width: 28px;
			height: 29px;
			background-image: url(../images/circle-checkmark.svg");
			margin-left: 1vw;
		}
	}
}

.links-contain {
	padding-top: 1vh;

	@media (--768vp) {
		order: 6;
	}
}