/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Large: 2rem;
	--xLarge: 4rem;

	--White: hsl(0, 0%, 100%);
	--WhiteDark: hsl(202, 22%, 93%);
	--Grey: hsl(190, 5%, 55%);
	--GreyDark: hsl(189, 13%, 33%);
	--Black: hsl(204, 29%, 19%);
	--BlackDark: hsl(206, 31%, 16%);

	--Orange: hsl(19, 86%, 57%);
	--Red: hsl(0, 72%, 52%);
	--Green: hsl(109, 41%, 47%);
	--Blue: hsl(212, 52%, 55%);
	--BlueLight: hsl(199, 54%, 79%);

	--Error: hsl(353, 95%, 58%);
	--Approval: hsl(109, 41%, 47%);
}