/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
body.blog {
	& div.card.featured {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		justify-content: space-between;

		&>div {
			max-width: 450px;
			order: 2;

			@media(--tablet) {
				order: 1;
			}

			& h3 {
				color: var(--GreyDark);
				font-size: 22px;
				font-family: usual,sans-serif;
			}

			& ul {
				padding: 0;
				margin-bottom: 0;

				& li {
					margin: 0 1em 0 0;
					display: inline-block;

					&:before {
						display: none;
					}

					& a {
						color: var(--GreyDark);
						font-size: 12px;
						font-weight: 400;
						text-decoration: none;
						background-color: var(--WhiteDark);
						padding: 3px 10px;
						border-radius: 5px;
						position: relative;
						z-index: 3;

						&:hover,
						&:focus {
							color: var(--White);
							background-color: var(--GreyDark);
						}
					}
				}
			}

			& h2 {
				margin: .5rem 0;
			}
		}

		&>figure {
			width: 100%;
			margin: 0;
			order: 1;

			@media(--tablet) {
				width: calc(100% - 450px - 2em);
				order: 2;
			}

			& img {
				box-shadow: 0 40px 50px 0 rgba(20,45,63,0.3);
			}
		}
	}

	& section.post-grid {
		&>div {
			&:first-of-type {
				width: 100%;
				padding: 1em;

				@media(--laptop) {
					width: 20%;
				}

				& h3 {
					margin-top: 1em;
				}

				& a {
					color: var(--GreyDark);

					&:hover,
					&:focus {
						color: var(--Orange);
					}
				}
			}

			&:last-of-type {
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				@media(--laptop) {
					width: 80%;
				}
			}
		}
	}
}

/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& a {
		margin: 0 var(--Small);
	}
}

/*-----------------------------------*\
	SEARCH RESULTS
\*-----------------------------------*/
body.search-results {
	& article.card {
		margin-bottom: 2em;

		& h3 {
			margin-bottom: 0;
		}

		& p {
			margin: .5rem 0;
		}

		& a.button {
			margin-top: 0;
		}
	}
}

/*-----------------------------------*\
	SERVICES
\*-----------------------------------*/
body.post-type-archive-service {
	& section.post-grid {
		justify-content: space-between;

		& .card {
			width: 100%;
			margin-bottom: 4rem;

			@media(--phone) {
				width: 45%;
			}

			&:nth-child(4) {
				align-self: center;
			}

			& figure {
				width: 100%;
			}
		}
	}
}