/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& article {
		margin: 0 auto;
		padding: 8rem 0;
		position: relative;
		overflow: hidden;

		@media(--tablet) {
			padding: 12rem 0;
		}

		& .blob {
			position: absolute;
			top: 50%;
			right: 75%;
			width: 516px;
			height: 496px;
			background-image: url(../images/E5-BlueBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--tablet) {
				top: 30%;
			}
		}

		& .blob-2 {
			position: absolute;
			top: 0;
			right: -100%;
			width: 560px;
			height: 473px;
			background-image: url(../images/E5-OrangeBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--phone) {
				right: -70%;
			}

			@media(--tablet) {
				top: 15%;
				right: -30%;
			}

			@media(--laptop) {
				right: -12%;
			}
		}

		& section {
			position: relative;
			z-index: 2;
		}

		& h1 {
			font-size: 120px;
			line-height: 90px;
			margin: 0 auto;

			@media(--phone) {
				font-size: 150px;
				line-height: 120px;
			}

			@media(--tablet) {
				font-size: 200px;
				line-height: 150px;
			}
		}

		& p {
			font-size: 20px;
		}
	}
}