/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	overflow-x: hidden;

	& header.post-head {
		max-width: 820px;
		position: relative;

		& .blob {
			display: none;
			position: absolute;
			top: -8em;
			right: 100%;
			width: 516px;
			height: 496px;
			background-image: url(../images/E5-BlueBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			transform: rotate(90deg);
			z-index: -1;

			@media(--tablet) {
				display: block;
			}
		}

		&  .blob-2 {
			display: none;
			position: absolute;
			top: 70%;
			right: -60%;
			width: 560px;
			height: 473px;
			background-image: url(../images/E5-OrangeBlob.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			z-index: -1;

			@media(--tablet) {
				display: block;
			}
		}
	}

	& section.post-grid {
		&.work-cards .card:nth-last-child(-n+2) {
			display: none;

			@media(--tablet) {
				display: flex;
			}
		}

		&.service-cards {
			padding: 0 1em;
			justify-content: space-between;

			@media(--tablet) {
				padding: 0;
			}

			& .card {
				width: 100%;
				margin-bottom: 2rem;

				@media(--tablet) {
					width: 28%;
					margin-bottom: 4rem;
				}

				&.cta-card {
					& h3 {
						flex: auto;
						width: 100%;
					}
				}
			}
		}
	}

	& .gallery.is-wide {
		margin: 0 auto;

		@media(--tablet) {
			margin: var(--Large) auto;
		}
	}

	& .gallery.four-columns.overlay {
		& figure {
			padding: 1em;

			@media(--tablet) {
				padding: 1em;
			}
		}
	}
}