/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
body.single-post {
	& header.post-head {
		margin-top: 120px;

		@media(--tablet) {
			margin-top: 190px;
		}

		& h1 {
			margin: .5rem 0;
			width: 100%;
		}

		& ul.post-categories {
			padding: 0;
			margin-bottom: 0;

			& li {
				margin: 0 1em 0 0;
				display: inline-block;

				&:before {
					display: none;
				}

				& a {
					color: var(--GreyDark);
					font-size: 12px;
					font-weight: 400;
					text-decoration: none;
					background-color: var(--WhiteDark);
					padding: 3px 10px;
					border-radius: 5px;
					position: relative;
					z-index: 3;

					&:hover,
					&:focus {
						color: var(--White);
						background-color: var(--GreyDark);
					}
				}
			}
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			& img {
				border: 2px solid var(--Blue);
				border-radius: 50%;
				width: 60px;
				height: 60px;
				object-fit: cover;
			}

			& p {
				width: auto;
				padding-left: 1em;
				font-size: 14px;
			}
		}
	}
}

section.featured-image {
	display: flex;
	padding: 0;

	@media(--tablet) {
		padding: 0 1rem;
	}

	& img {
		margin: 0 auto;
	}
}


body.single-work {
	&.editor-2-column {
		margin-top: -2em;
	}
}

section.author-box {

	&>div {
		display: flex;
		flex-wrap: wrap;
		border-top: 3px solid var(--WhiteDark);
		padding-top: 2em;

		& img {
			border: 4px solid var(--Blue);
			border-radius: 50%;
			width: 150px;
			height: 150px;
			object-fit: cover;
			margin-right: 2em;
		}

		&>div {
			width: calc(100% - 150px - 2em);

			& p:first-of-type {
				margin-top: 0;
				color: var(--Orange);
				margin-bottom: .5rem;
			}

			& h4 {
				margin-top: 0;
			}
		}
	}
}