/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	width: 100%;
	background-color: var(--WhiteDark);
	max-height: 0;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	z-index: 999999;

	&.note-on {
		max-height: 100vh;
	}

	&>div {
		margin: 0 auto;
		max-width: 1169px;
		width: 95%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: var(--Small) 0;

		@media(--tablet) {
			padding: var(--xSmall) 0;
		}
	}

	& p {
		color: var(--GreyDark);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;
	}

	& a {
		color: var(--GreyDark);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--Orange);
		}
	}

	& button {
		padding: 0;
		margin: 0.5rem 1rem 0.5rem 0;
		background-color: transparent;
		background-image: none;

		&:hover,
		&:focus {
			left: 0;

			& svg {
				fill: var(--Orange);
			}
		}

		& svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: var(--GreyDark);
			transition: .15s all linear;
		}
	}
}