/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 9999;
	transition: all 0.15s ease-in-out;

	& nav {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 0 auto;
		padding: 1em;
		width: 100%;
		max-width: 1200px;

		&>a {
			margin-right: auto;

			&.search-active {
				opacity: 0;

				@media(--tablet) {
					opacity: 1;
				}
			}

			& svg {
				width: 145px;
				height: 55px;

				@media(--tablet) {
					width: 158px;
					height: 60px;
				}
			}
		}

		& ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: flex-start;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;
			position: fixed;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(233, 238, 241, 0.95);
			padding-top: 100px;
			opacity: 0;
			visibility: hidden;
			transition: .15s all linear;

			@media(--tablet) {
				position: inherit;
				height: inherit;
				flex-wrap: inherit;
				align-content: inherit;
				background-color: inherit;
				padding-top: inherit;
				width: inherit;
				opacity: 1;
				visibility: visible;
			}

			&.is-active {
				opacity: 1;
				visibility: visible;

				& li {
					opacity: 1;
				}
			}

			&.search-active {
				visibility: hidden;
				opacity: 0;
			}

			& li {
				background-image: none;
				padding: 0 4rem;
				width: 100%;
				position: relative;
				text-align: right;
				transition: 0.15s all linear;
				-webkit-transition-delay: 0.15s;
				opacity: 0;

				&:nth-of-type(1) {
					-webkit-transition-delay: 0.15s;
				}

				&:nth-of-type(2) {
					-webkit-transition-delay: 0.25s;
				}

				&:nth-of-type(3) {
					-webkit-transition-delay: 0.35s;
				}

				&:nth-of-type(4) {
					-webkit-transition-delay: 0.45s;
				}

				&:nth-of-type(5) {
					-webkit-transition-delay: 0.55s;
				}

				&:nth-of-type(6) {
					-webkit-transition-delay: 0.65s;
				}

				&:nth-of-type(7) {
					-webkit-transition-delay: 0.75s;
				}

				&:nth-of-type(8) {
					-webkit-transition-delay: 0.85s;
				}

				@media(--tablet) {
					padding: var(--Small) 1.5rem;
					width: inherit;
					text-align: left;
					opacity: 1;

					&:nth-of-type(1) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(2) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(3) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(4) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(5) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(6) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(7) {
						-webkit-transition-delay: inherit;
					}

					&:nth-of-type(8) {
						-webkit-transition-delay: inherit;
					}
				}

				&:before {
					background: none;
				}

				&:first-child {
					margin-top: auto;
				}

				&:last-child {

					@media(--tablet) {
						padding-right: 0;
					}
				}

				&.current-menu-item {
					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: calc(50% - 27.5px);
						height: 5px;
						width: 55px;
						background-image: linear-gradient(135deg, var(--BlueLight) 0%, var(--Blue) 100%);
						display: none;

						@media(--tablet) {
							display: block;
						}
					}

					& a {

						@media(--tablet) {
							color: var(--BlackDark);
							font-weight: 500;
						}
					}
				}

				&.button {
					margin: var(--Medium) 0;

					&.current-menu-item {
						&:after {
							width: 0;
						}
					}

					& a {
						color: var(--White);
						padding: var(--Small) 25px;
						background-image: linear-gradient(45deg, var(--Orange), var(--Orange) 35%, var(--Red) 65%, var(--Red));
						background-size: 150% 100%;
						border-radius: 5px;

						&:hover,
						&:focus {
							color: var(--White);
							background-position: 100% 50%;

							&:after {
								width: 0;
							}
						}
					}
				}

				& a {
					color: var(--Black);
					font-family: paralucent, sans-serif;
					font-size: 25px;
					font-weight: 400;
					text-decoration: none;
					letter-spacing: 1px;
					line-height: 1.75;
					transition: 0.15s all linear;

					@media(--tablet) {
						color: var(--GreyDark);
						font-size: 16px;
					}

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: calc(50% - 27.5px);
						height: 5px;
						width: 0;
						background-image: linear-gradient(135deg, var(--BlueLight) 0%, var(--Blue) 100%);
						transition: 0.15s all linear;
					}

					&:hover,
					&:focus {
						color: var(--BlackDark);

						&:after {
							width: 0;

							@media(--tablet) {
								width: 55px;
							}
						}
					}
				}
			}
		}

		&>button {
			padding: .75rem 0;
			min-width: 30px;

			&:hover,
			&:focus {
				left: 0;
			}

			&.activate-search {
				background: none;
				margin-right: 0;
				display: none;

				&.search-active {
					visibility: hidden;
					opacity: 0;
				}

				& svg {
					width: 21px;
					height: 21px;
					fill: var(--White);
				}
			}
		}

		&>div.search-form {
			position: absolute;
			width: 90%;
			display: flex;
			align-items: center;
			visibility: hidden;
			opacity: 0;
			transition: all .15s linear;
			background-color: var(--White);

			@media(--tablet) {
				width: 50%;
			}

			&.is-active {
				visibility: visible;
				opacity: 1;
			}

			& form {
				width: 100%;
				display: flex;
				align-items: center;
				align-content: center;
				max-width: inherit;

				& label {
					display: none;
				}

				& input {
					margin-right: 1em;
				}

				& button {
					margin: 0;

					& svg {
						width: 21px;
						height: 21px;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAMBURGER MENU
\*----------------------------------------------------------------*/
button.activate-menu {
	background: none;
	margin-right: 0;

	@media(--tablet) {
		display: none;
	}
}

.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
	width: 30px;
	height: 3px;
}

.hamburger-menu::before {
	content: "";
	position: absolute;
	right: 0;
	bottom: 8px;
	background: var(--GreyDark);
	transition: bottom .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu::after {
	content: "";
	position: absolute;
	right: 0;
	top: 8px;
	background: var(--GreyDark);
	transition: top .3s .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s cubic-bezier(0.23, 1, 0.32, 1);
	width: 25px;
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	background: var(--GreyDark);
	transition: all 0 .3s;
	float: right;
	order: 1;
	width: 20px;

	@media(--tablet) {
		display: none;
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active::after {
	top: 0;
	transform: rotate(45deg);
	transition: top .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
	width: 30px;
	background: var(--Orange);
}

.hamburger-menu.is-active::before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom .3s cubic-bezier(0.23, 1, 0.32, 1), transform .3s .3s cubic-bezier(0.23, 1, 0.32, 1);
	background: var(--Orange);
}