/*-----------------------------------*\
	POP-UP CTA
\*-----------------------------------*/
section.pop-up-cta {
	position: fixed;
	bottom: 0;
	left: 3%;
	z-index: 999999;
	width: 400px;
	max-width: 94%;
	margin: 0;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	background-size: 150% 100%;
	background-position: 0 50%;
	background-image: linear-gradient(45deg, var(--Orange) 0%, var(--Orange) 35%, var(--Red) 65%, var(--Red) 100%);
	transition: all 0.15s linear;
	transform: translateY(calc(100% - 55px));

	@media(--phone) {
		left: var(--Large);
	}

	&:not(.is-active):hover,
	&:not(.is-active):focus {
		background-position: 100% 50%;
		transform: translateY(calc(100% - 64px));
	}


	& button.pop-up-cta-toggle {
		padding: var(--Medium);
		font-size: 18px;
		margin: 0;
		background: 0 0;
		width: 100%;
		display: flex;
		justify-content: space-between;

		@media(--phone) {
			font-size: 20px;
		}

		& svg {
			display: inline-block;
			vertical-align: middle;
			transform: rotate(0);
			fill: var(--White);
			height: 20px;
			width: 20px;
			margin-left: 32px;
			transition: all .15s ease-in-out;
		}

		&:hover,
		&:focus {
			left: 0;
		}
	}

	& .gform_wrapper {
		margin: 0;
		padding: 0 var(--Small);

		& form {
			padding: var(--Medium);
			background-color: var(--White);
			border-top-right-radius: 8px;
			border-top-left-radius: 8px;

			& ul.gform_fields li:first-child {
				margin-top: 0;
			}

			& .gform_footer button {
				background-image: linear-gradient(45deg, var(--Blue) 0%, var(--Blue) 35%, var(--BlueLight) 65%, var(--BlueLight) 100%);
				font-size: 20px;
			}
		}
	}

	& .gform_confirmation_message {
		color: var(--White);
		padding: var(--Medium);
	}

	&.is-hidden {
		transform: translateY(100%);
	}

	&.is-active {
		transform: translateY(0);

		& button.pop-up-cta-toggle svg {
			transform: rotate(-180deg);
		}
	}

}